.white-space {
    width:200px;

    overflow:hidden;

    white-space:normal;

    text-overflow:ellipsis;

    text-overflow: ellipsis;/* IE/Safari */

    -ms-text-overflow: ellipsis;

    -o-text-overflow: ellipsis;/* Opera */

    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}