<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Language" content="en"/>
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#4188c9">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico"/>
        <!-- Generated: 2018-03-27 13:25:03 +0200 -->
        <title>ASIN Hub</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
        <script type="text/javascript" th:src="@{/tabler/assets/js/require.min.js}"></script>
        <script>
            requirejs.config({
                baseUrl: '/tabler',
                paths: {
                    "table" : "assets/plugins/table/bootstrap-table.min",
                    "table-zh" : "assets/plugins/table/locale/bootstrap-table-zh-CN.min"
                },
                shim: {
                    'table': {
                        deps: ['jquery']
                    },
                    'table-zh': {
                        deps: ['jquery', 'table']
                    }
                }
            });
        </script>
        <!-- Dashboard Core -->
        <link th:href="@{/tabler/assets/css/dashboard.css}" rel="stylesheet"/>
        <script type="text/javascript" th:src="@{/tabler/assets/js/dashboard.js}"></script>
        <!-- common -->
        <link th:href="@{/common/common.css}" rel="stylesheet"/>
        <!-- Bootstrap Table-->
        <link th:href="@{/tabler/assets/plugins/table/bootstrap-table.min.css}" rel="stylesheet"/>
    </head>
<body class="" style="overflow-y: auto;">
<div class="page">
    <div class="page-main">
        <div class="header">
            <div class="container">
                <div class="d-flex">
                    <a class="navbar-brand" href=".">
                        <i class="fa fa-barcode"></i><span style="margin-left: 10px;">ASIN Hub</span>
                    </a>
                    <div class="ml-auto d-flex order-lg-2">
                        <div id="userAvatars" class="dropdown" style="display: none;">
                            <a href="#" class="nav-link pr-0" data-toggle="dropdown">
                                <span class="avatar" style="background-image: url(/tabler/demo/faces/female/25.jpg)"></span>
                                <span class="ml-2 d-none d-lg-block">
                          <span class="text-default">Jane Pearson</span>
                          <small class="text-muted d-block mt-1">Administrator</small>
                        </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="javascript:signOut();">Sign out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav d-none d-lg-flex">
            <div class="container">
                <div class="row align-items-center asin" style="display: none;">
                    <div class="col">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a id="tabs-runner" href="#runner" class="nav-link active" data-toggle="tab"><i class="fe fe-battery-charging"></i> ASIN Runner</a>
                            </li>
                            <li class="nav-item">
                                <a id="tabs-hub" href="#hub" class="nav-link" data-toggle="tab" ><i class="fe fe-home"></i> ASIN Hub</a>
                            </li>
                            <li class="nav-item">
                                <a id="tabs-review" href="#review" class="nav-link" data-toggle="tab"><i class="fe fe-list"></i> ASIN Review</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="container">
                <div class="row asin">
                    <div class="form-group" style="margin:300px auto 0 auto;">
                        <div class="input-group">
                            <input type="text" class="form-control" style="width: 500px;" placeholder="Search for..."
                                   id="asinKey" required="required">
                            <span class="input-group-append">
                              <button class="btn btn-primary" type="button" style="width: 100px;"
                                      id="asin">ASIN</button>
                            </span>
                        </div>
                        <div id="message" style="margin-top: 10px;">

                        </div>
                    </div>
                </div>
                <div class="row asin" style="display: none;">
                    <div class="tab-content" style="width: 100%;">
                        <div id="runner" class="tab-pane active">
                            <div class="container">
                                <div class="row">
                                    <div class="form-group" style="margin:100px auto 0 auto;">
                                        <div class="input-group">
                                            <input type="text" class="form-control" style="width: 500px;" placeholder="Search for..."
                                                   id="runnerKey" required="required">
                                            <span class="input-group-append">
                                              <button class="btn btn-primary" type="button" style="width: 100px;"
                                                      id="run">Run</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 100px;">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>任务标识</th>
                                            <th>状态</th>
                                        </tr>
                                        </thead>
                                        <tbody id="runners">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="hub" class="tab-pane">
                            <div id="hub-toolbar" class="row" style="margin-right: 10px;">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input id="term" type="text" class="form-control" style="width: 200px;margin-right: 10px;" placeholder="Search"/>
                                        <button id="hub-search" class="btn btn-primary" type="button" style="width: 100px;margin-right: 10px;" >查询</button>
                                        <button id="hub-reset" class="btn btn-success" type="button" style="width: 100px;" >清空</button>
                                    </div>
                                </div>
                            </div>
                            <table id="hub-table"></table>
                        </div>
                        <div id="review" class="tab-pane">
                            <div id="review-toolbar" class="row" style="margin-right: 10px;">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input id="review-asin" type="text" class="form-control" style="width: 200px;margin-right: 10px;" placeholder="ASIN"/>
                                        <input id="review-term" type="text" class="form-control" style="width: 200px;margin-right: 10px;" placeholder="TERM"/>
                                        <input id="review-star" type="text" class="form-control" style="width: 200px;margin-right: 10px;" placeholder="STAR"/>
                                        <button id="review-search" class="btn btn-primary" type="button" style="width: 100px;margin-right: 10px;" >查询</button>
                                        <button id="review-reset" class="btn btn-success" type="button" style="width: 100px;" >清空</button>
                                    </div>
                                </div>
                            </div>
                            <table id="review-table"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-12 col-lg-auto mt-3 mt-lg-0" style="margin: auto;">
                    Copyright © 2018 <a href="."> ASIN Hub</a>.
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- 模态框开始 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-left" id="exampleModalLabel"></h4>
            </div>
            <div id="modalBody" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框结束 -->
<script>
    require(['jquery'], function ($) {
        // 解决 localStorage 兼容性问题
        if (!window.localStorage) {
            Object.defineProperty(window, "localStorage", new (function () {
                var aKeys = [], oStorage = {};
                Object.defineProperty(oStorage, "getItem", {
                    value: function (sKey) {
                        return sKey ? this[sKey] : null;
                    },
                    writable: false,
                    configurable: false,
                    enumerable: false
                });
                Object.defineProperty(oStorage, "key", {
                    value: function (nKeyId) {
                        return aKeys[nKeyId];
                    },
                    writable: false,
                    configurable: false,
                    enumerable: false
                });
                Object.defineProperty(oStorage, "setItem", {
                    value: function (sKey, sValue) {
                        if (!sKey) {
                            return;
                        }
                        document.cookie = escape(sKey) + "=" + escape(sValue) + "; expires=Tue, 19 Jan 2038 03:14:07 GMT; path=/";
                    },
                    writable: false,
                    configurable: false,
                    enumerable: false
                });
                Object.defineProperty(oStorage, "length", {
                    get: function () {
                        return aKeys.length;
                    },
                    configurable: false,
                    enumerable: false
                });
                Object.defineProperty(oStorage, "removeItem", {
                    value: function (sKey) {
                        if (!sKey) {
                            return;
                        }
                        document.cookie = escape(sKey) + "=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/";
                    },
                    writable: false,
                    configurable: false,
                    enumerable: false
                });
                this.get = function () {
                    var iThisIndx;
                    for (var sKey in oStorage) {
                        iThisIndx = aKeys.indexOf(sKey);
                        if (iThisIndx === -1) {
                            oStorage.setItem(sKey, oStorage[sKey]);
                        }
                        else {
                            aKeys.splice(iThisIndx, 1);
                        }
                        delete oStorage[sKey];
                    }
                    for (aKeys; aKeys.length > 0; aKeys.splice(0, 1)) {
                        oStorage.removeItem(aKeys[0]);
                    }
                    for (var aCouple, iKey, nIdx = 0, aCouples = document.cookie.split(/\s*;\s*/); nIdx < aCouples.length; nIdx++) {
                        aCouple = aCouples[nIdx].split(/\s*=\s*/);
                        if (aCouple.length > 1) {
                            oStorage[iKey = unescape(aCouple[0])] = unescape(aCouple[1]);
                            aKeys.push(iKey);
                        }
                    }
                    return oStorage;
                };
                this.configurable = false;
                this.enumerable = true;
            })());
        }
        $(document).ready(function () {

            if (localStorage.getItem("asinKey")) {
                $("#asinKey").val(localStorage.getItem("asinKey"));
                $("#userAvatars").show();
                $(".asin").toggle();
            }else{
                $("#userAvatars").hide();
            }

            $("#asin").on("click", function () {
                var asinKey = $("#asinKey").val();
                if (asinKey.trim() != "") {
                    //TODO 实现 asinKey 正确性验证
                    localStorage.setItem("asinKey", asinKey);
                    $("#userAvatars").show();
                    $(".asin").toggle();
                } else {
                    $("#message").html("");
                    $("#message").append("<div class=\"alert alert-danger alert-dismissible\">\n" +
                        "                            <button type=\"button\" class=\"close\" data-dismiss=\"alert\"></button>\n" +
                        "                            请输入 ASINKey 进行认证！\n" +
                        "                        </div>")
                }
            })

            $("#run").on("click",function () {
                var runnerKey = $("#runnerKey").val();
                var key = new Date().getTime();
                $("#runners").append("<tr id='"+key+"'><td>"+runnerKey+"</td><td>正在执行</td></tr>");
                $("#runnerKey").val("");
                $.post("/hub/run/asin",{"asin": runnerKey,"key":key},function (data) {
                    $("#"+key).remove();
                })
            })
        })
    });
    require(['jquery', 'table-zh', 'table'], function ($) {
        $(document).ready(function () {
            $('#hub-table').bootstrapTable({
                url: '/hub/asin/term',
                columns: [{
                    field: 'asin',
                    title: 'ASIN 值',
                    formatter: function(value,row,index){
                        return "<a href='javascript:showReview(\""+value.toUpperCase()+"\",0);'><span>"+value.toUpperCase()+"</span></a>";
                    }
                }, {
                    field: 'country',
                    title: '国家'
                }, {
                    field: 'img',
                    title: '主图',
                    formatter: function(value,row,index){
                        return "<a href='javascript:showImgModal(\"图片\",\""+value+"\");' title='点击查看'><i class='fe fe-image'></i> 查看</a>";
                    }
                }, {
                    field: 'reviewCount',
                    title: '评论数'
                }, {
                    field: 'starLevelOne',
                    title: '一星率( % )',
                    formatter: function(value,row,index){
                        var sum = Number(row.starLevelOne) + Number(row.starLevelTwo) + Number(row.starLevelThree) + Number(row.starLevelFour) + Number(row.starLevelFive);
                        if(sum == 0){
                            value = 0;
                        }else{
                            value = (value / sum) * 100;
                        }
                        return "<a href='javascript:showReview(\""+row.asin+"\",1);'><span>"+value.toFixed(2)+"</span></a>";
                    }
                }, {
                    field: 'starLevelTwo',
                    title: '二星率( % )',
                    formatter: function(value,row,index){
                        var sum = Number(row.starLevelOne) + Number(row.starLevelTwo) + Number(row.starLevelThree) + Number(row.starLevelFour) + Number(row.starLevelFive);
                        if(sum == 0){
                            value = 0;
                        }else{
                            value = (value / sum) * 100;
                        }
                        return "<a href='javascript:showReview(\""+row.asin+"\",2);'><span>"+value.toFixed(2)+"</span></a>";
                    }
                }, {
                    field: 'starLevelThree',
                    title: '三星率( % )',
                    formatter: function(value,row,index){
                        var sum = Number(row.starLevelOne) + Number(row.starLevelTwo) + Number(row.starLevelThree) + Number(row.starLevelFour) + Number(row.starLevelFive);
                        if(sum == 0){
                            value = 0;
                        }else{
                            value = (value / sum) * 100;
                        }
                        return "<a href='javascript:showReview(\""+row.asin+"\",3);'><span>"+value.toFixed(2)+"</span></a>";
                    }
                }, {
                    field: 'starLevelFour',
                    title: '四星率( % )',
                    formatter: function(value,row,index){
                        var sum = Number(row.starLevelOne) + Number(row.starLevelTwo) + Number(row.starLevelThree) + Number(row.starLevelFour) + Number(row.starLevelFive);
                        if(sum == 0){
                            value = 0;
                        }else{
                            value = (value / sum) * 100;
                        }
                        return "<a href='javascript:showReview(\""+row.asin+"\",4);'><span>"+value.toFixed(2)+"</span></a>";
                    }
                }, {
                    field: 'starLevelFive',
                    title: '五星率( % )',
                    formatter: function(value,row,index){
                        var sum = Number(row.starLevelOne) + Number(row.starLevelTwo) + Number(row.starLevelThree) + Number(row.starLevelFour) + Number(row.starLevelFive);
                        if(sum == 0){
                            value = 0;
                        }else{
                            value = (value / sum) * 100;
                        }
                        return "<a href='javascript:showReview(\""+row.asin+"\",5);'><span>"+value.toFixed(2)+"</span></a>";
                    }
                }, {
                    field: 'amazonReviewMention',
                    title: '标签',
                    formatter: function(value,row,index){
                        return "<a href='javascript:showModal(\"标签列表\",\""+value+"\");' title='点击查看'><i class='fe fe-tag'></i> 查看</a>";
                    }
                }, {
                    field: 'reviewMention',
                    title: '关键字',
                    formatter: function(value,row,index){
                        return "<a href='javascript:showModal(\"关键字列表\",\""+value+"\");' title='点击查看'><i class='fe fe-bookmark'></i> 查看</a>";
                    }
                }
                ],
                classes: 'table table-bordered', // Class样式
                cache: false, // 是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                striped: true,
                silent: true, // 必须设置刷新事件
                queryParams: queryParams, // 请求参数，这个关系到后续用到的异步刷新
                pagination: true,
                pageSize: 20,
                pageList: [20],
                smartDisplay: true,
                toolbarAlign: "right",
                toolbar: "#hub-toolbar"
            });

            function queryParams(params) {
                var text = $("#term").val();
                return {
                    term : text.trim()==""?"none":text
                };
            }

            $("#hub-search").on("click",function () {
                $('#hub-table').bootstrapTable('refresh');
            })

            $("#hub-reset").on("click",function () {
                $("#term").val("");
                $('#hub-table').bootstrapTable('refresh');
            })

            $('#review-table').bootstrapTable({
                url: 'hub/review',
                columns: [{
                    field: 'asin',
                    title: 'ASIN 值',
                    formatter: function(value,row,index){
                        return value.toUpperCase();
                    }
                }, {
                    field: 'reviewTitle',
                    title: '标题',
                    formatter: function(value,row,index){
                        if(value.length > 50){
                            value = value.substring(0,50)+"...";
                        }
                        return "<span class='white-space'>"+value+"</span>";
                    }
                }, {
                    field: 'buyer',
                    title: '卖家'
                }, {
                    field: 'review',
                    title: '内容',
                    formatter: function(value,row,index){
                        if(value.length > 50){
                            value = value.substring(0,50)+"...";
                        }
                        return "<span class='white-space' title=\""+row.review+"\">"+value+"</span>";
                    }
                }, {
                    field: 'starLevel',
                    title: '星级'
                }, {
                    field: 'date',
                    title: '日期'
                }],
                striped: true,
                pageNumber: 1,
                pagination: true,
                pageSize: 25,
                pageList: [25],
                contentType: "application/x-www-form-urlencoded",//必须要有！！！！
                queryParams: reviewQueryParams, // 请求参数，这个关系到后续用到的异步刷新
                sidePagination:'server',
                dataField: "content",
                smartDisplay: true,
                toolbarAlign: "right",
                toolbar: "#review-toolbar"
            });

            function reviewQueryParams(params) {
                var asin = $("#review-asin").val();
                var star = $("#review-star").val();
                var term = $("#review-term").val();
                return {
                    asin : asin.trim()==""?"none":asin.toUpperCase(),
                    star : star.trim()==""?"0":star,
                    term : term.trim()==""?"none":term,
                    pageNumber : params.pageNumber
                };
            }

            var showModal = function(title,value){
                var html = "";
                if(title == "评论"){
                    html = value.review;
                }else {
                    if(value != "null"){
                        var val = value.split(",");
                        for(var i=0,len=val.length;i<len;i++){
                            html += "<label class='badge badge-success' style='margin-left: 5px;'>"+val[i]+"</label>"
                        }
                    }
                }
                document.getElementById("exampleModalLabel").innerHTML = title;
                document.getElementById("modalBody").innerHTML = html;
                $("#exampleModal").modal('show');
            }

            var showImgModal = function(title,url){
                document.getElementById("exampleModalLabel").innerHTML = title;
                document.getElementById("modalBody").innerHTML = "<img src='"+url+"'/>";
                $("#exampleModal").modal('show');
            }

            window.showModal = showModal;
            window.showImgModal = showImgModal;

            $("#review-search").on("click",function () {
                $('#review-table').bootstrapTable('refresh',{pageNumber:1});
            })

            $("#review-reset").on("click",function () {
                $("#review-asin").val("");
                $("#review-star").val("");
                $("#review-term").val("");
                $('#review-table').bootstrapTable('refresh',{pageNumber:1});
            })
        });
    });

    function showReview(asin,star){
        document.getElementById("review-asin").value = asin;
        document.getElementById("review-star").value = star;
        document.getElementById("tabs-review").click();
        document.getElementById("review-search").click();
    }

    function signOut(){
        localStorage.removeItem("asinKey");
        window.location.href = "";
    }

</script>
</body>
</html>